<div class="home-container">
  <ng-container *ngIf="authService.isLoggedIn(); else loginTpl">

    <ng-container *ngIf="loading; else contentTpl">
      <div class="state-container">
        <div class="pulse-circle"></div>
        <p>Ładuję Twoje matche...</p>
      </div>
    </ng-container>

    <ng-template #contentTpl>
      <div class="state-container no-profiles" *ngIf="matches.length === 0">
        <div class="empty-icon">💔</div>
        <h2>Brak matchy</h2>
        <p>Polub kogoś, aby zobaczyć go tutaj.</p>
      </div>

      <div class="matches-grid" *ngIf="matches.length > 0">
        <div class="match-card" *ngFor="let match of matches" (click)="goToChat(match.id)">
          <div class="avatar">
            <img
            *ngIf="match.user.profile_image; else placeholder"
            [src]="match.user.profile_image"
            />
            <ng-template #placeholder>
              <div class="placeholder-img">
                {{ match.user.first_name.charAt(0) }}
              </div>
            </ng-template>
          </div>

          <div class="match-info">
            <h3>
                {{ match.user.first_name }}
                <span *ngIf="match.user.age">{{ match.user.age }}</span>
            </h3>
            <p>Match 💖</p>
            <button class="chat-btn" (click)="goToChat(match.id)">💬 Chat</button>
            </div>
        </div>
      </div>
    </ng-template>

  </ng-container>

  <ng-template #loginTpl>
    <div class="state-container">
      <h1>Zaloguj się</h1>
      <button class="action-btn" routerLink="/login">Zaloguj się</button>
    </div>
  </ng-template>
</div>
