<div class="home-container">
  <ng-container *ngIf="authService.currentUser(); else loginTpl">

    <ng-container *ngIf="loading; else contentTpl">
      <p>Ładuję Twoje matche...</p>
    </ng-container>

    <ng-template #contentTpl>
    <div *ngIf="matches.length === 0">
        <p>Nie masz jeszcze matchy 💔</p>
    </div>

      <div class="matches-stack" *ngIf="matches.length > 0">

        <div
          class="match-card"
          *ngFor="let match of visibleMatches; let i = index; trackBy: trackById"
          [class.active]="i === 0"
          [class.animating]="animating"
          [style.transform]="getTransform(i)"
          [style.zIndex]="visibleMatches.length - i"
        >
          <div class="avatar">
            <img *ngIf="match.user.profile_image; else placeholder"
                 [src]="match.user.profile_image">
            <ng-template #placeholder>
              <div class="placeholder-img">
                {{ match.user.first_name.charAt(0) }}
              </div>
            </ng-template>
          </div>

          <div class="match-info">
            <h3>
              {{ match.user.first_name }}
              <span *ngIf="match.user.age">, {{ match.user.age }}</span>
            </h3>
            <button class="chat-btn" (click)="goToChat(match.id)">
              💬 Chat
            </button>
          </div>
        </div>

        <button class="nav left" (click)="prev()">←</button>
        <button class="nav right" (click)="next()">→</button>

      </div>

    </ng-template>
  </ng-container>

  <ng-template #loginTpl>
    <button routerLink="/login">Zaloguj się</button>
  </ng-template>
</div>
