<div class="login-page">

  <div class="login-card">
    <h2>Zaloguj się</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="twoj@email.com"
        />
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="••••••••"
        />
      </div>

      <div class="error" *ngIf="errorMessage()">
        {{ errorMessage() }}
      </div>

      <button
        type="submit"
        class="login-btn"
        [disabled]="loginForm.invalid"
      >
        Zaloguj
      </button>
    </form>

    <div class="divider">lub</div>

    <button class="secondary-btn" (click)="goToRegister()">
        Utwórz konto
    </button>


  </div>

</div>
